html, header, body, footer, musicSlider { margin: 0; }

header {
  padding: 10px 0;
  margin: 10px auto;
  border-radius: 5px; 
  display: flex; /* enable flex layout */
  flex-direction: column; /* stack header, content, footer vertically */
}

body{
  position: relative;
  font-family: Arial, sans-serif;
  background-color: #bb7c59;
}

musicSlider {
  color: #333;
  text-align: center;
}

footer {
  background-color: #333;
  font-family: Arial, sans-serif;
  color: white;
  background-attachment: fixed;
  display: flex; 
  min-height: 10vh; 
}

.controls {
/* position: absolute;  */
top: 0;
right: windowWidth*0.5; 
display: inline-flex;
align-items: center;
background: rgba(255,255,255,0.75);
backdrop-filter: blur(4px);
}
.mainimage{
  display: block;
  margin: 0 auto;
}

.reference{
  position: relative;
}

.cornerimage { 
  position: absolute; 
  top: 21%; 
  left: 25.4%;
} 

.story {
position: absolute; 
top: 900px; 
right: 1205px; 
display: inline-flex;
gap: 12px;
align-items: center;
backdrop-filter: blur(4px);
margin: 10px auto 25px; /* spacing above & below controls */
}

#sketch {
  width: 50%;
  height: auto;
  background-color: white; /* for testing visibility */
}