html, header, body, footer, musicSlider { margin: 0; }

header {
  padding: 10px 0;
  margin: 10px auto;
  border-radius: 5px; 
  display: flex; /* enable flex layout */
  flex-direction: column; /* stack header, content, footer vertically */
  min-height: 100vh; /* fill the viewport height */
}

body{
  font-family: Arial, sans-serif;
  background-color: #bb7c59;
  img {
    position: center;
    display: block;
    margin: auto;
  }
}

musicSlider {
  color: #333;
  text-align: center;
}

footer {
  background-color: #333;
  font-family: Arial, sans-serif;
  color: white;
  background-attachment: fixed;
  display: flex; 
  min-height: 10vh; 
}

.controls {
position: absolute; 
top: 1290px; 
right: 580px; 
display: inline-flex;
gap: 12px;
align-items: center;
background: rgba(255,255,255,0.75);
backdrop-filter: blur(4px);
margin: 8px auto 20px; /* spacing above & below controls */
}

.cornerimage { 
  position: absolute; 
  top: 904px; 
  right: 380px; 
} 

.story {
position: absolute; 
top: 900px; 
right: 1205px; 
display: inline-flex;
gap: 12px;
align-items: center;
background: rgba(255,255,255,0.75);
backdrop-filter: blur(4px);
margin: 8px auto 20px; /* spacing above & below controls */
}